html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

#app {
    height: 100%;
}


/* Remove the navbar's default margin-bottom and rounded borders */

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

.row.content {
    height: 450px
}


/* Set gray background color and 100% height */

.sidenav {
    padding-top: 20px;
    background-color: background rgb(57, 2, 46);
    background: linear-gradient(180deg, rgba(57, 2, 46, 1) 0%, rgba(31, 4, 41, 1) 100%);
    height: 100%;
}


/* Set black background color, white text and some padding */

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}


/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}

.navbar.navbar-inverse {
    padding-top: 0px;
    padding-bottom: 0px;
    .container-fluid {
        height: 50px;
    }
}