html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: $fondo;
}

#app {
    height: 100%;
}

h1 {
    text-align: left;
    font-size: 30px;
    font-weight: 700;
}

.cards {
    background-color: white;
    border-radius: 12px;
    padding: 24px;
    margin: 0 0 24px;
    box-shadow: 0 20px 27px rgb(0 0 0 / 5%);
    h3 {
        text-align: left;
        margin: 0 0 24px;
        font-size: 20px;
        font-weight: 700;
        color: rgb(88, 88, 88);
    }
    h5 {
        font-size: 16px;
        text-align: left;
        color: rgb(63, 63, 63);
        font-style: italic;
    }
}


/* Remove the navbar's default margin-bottom and rounded borders */

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

.row.content {
    height: 450px
}


/* Set gray background color and 100% height */

.sidenav {
    padding-top: 20px;
    height: 100%;
}

// Botones
button {
    display: inline-block;
    padding: 0.5em 1.7em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgb(255, 255, 255);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 500;
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
    text-align: center;
    transition: all 0.2s;
}

.pt-primary {
    background-color: $color-primario;
    color: $negro;
    &:hover {
        background-color: rgb(255, 193, 36);
    }
    &:disabled {
        opacity: 0.3;
        &:hover {
            background-color: $color-primario;
        }
    }
}

.pt-secondary {
    background-color: #f1f1f1;
    color: $color-secundario;
    box-sizing: border-box;
    &:hover {
        background-color: rgb(228, 228, 228);
    }
    &:disabled {
        opacity: 0.3;
        &:hover {
            background-color: #f1f1f1;
        }
    }
}

.pt-other {
    background-color: inherit;
    color: $color-secundario;
    &:hover {
        color: $color-primario
    }
    &:disabled {
        opacity: 0.3;
        &:hover {
            background-color: inherit;
            color: $color-secundario;
        }
    }
}


/*Inputs*/

.el-input__wrapper.is-focus {
    border-color: red;
}


/* Set black background color, white text and some padding */

footer {
    background-color: inherit;
    color: #000;
    padding: 15px;
}


/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}

.navbar.navbar-inverse {
    padding-top: 0px;
    padding-bottom: 0px;
    .container-fluid {
        height: 50px;
    }
}