$primary-color-frame: black;
$gradiant-prered-primary : background rgb(57, 2, 46) background linear-gradient(180deg, rgba(57, 2, 46, 1) 0%, rgba(31, 4, 41, 1) 100%);
// colores botones
$primary-bottom: #1ed3a9;